body{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

.main{
    width:100%;
}

nav{
    width:100%;
    background-color: black;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
}

.logo a{
    font-size: 30px;
    color:red;
    font-weight:bold;
    margin-left:100px;
}

a{
    text-decoration: none;
    color:white;
    font-size: 17px;
    transition: 0.5s all ease;
}

ul{
    margin:0px;
    margin-right:100px;
}

ul li{
    float:left;
    padding:0px 10px;
    list-style:none;
}

ul li a:hover{
    color:red;
}


.aboutus{
text-align:center;
font-family:georgia;
font-size:35px;
font-weight:bolder;
color:black;
}

#img{
float:left;
margin-top:20px;
margin-bottom:40px;
padding:25px;
}

.about{
color:black;
font-family:Times New Roman;
font-size:18px;
padding:40px 40px 0 40px;
margin:0 10px 10px 10px;
text-align:justify;
text-indent: 50px;
line-height:25px;
}

.container{
background-color:rgba(0,0,0,0.9);
}

.images{
display:inline-flex;
flex-wrap: wrap;
justify-content: space-evenly;
margin: 40px 0 ;
}
.img{
    margin:15px 0;
    border:1px solid #000;
    transition: all 0.6s ease-in-out;
}

.img:hover{
    border-radius:10%;
    border:none;
    box-shadow: 15px 15px 20px #000;
}

.contactinfo{
color:white;
font-size:15px;
text-align:center;
font-family:Times New Roman;
padding:40px;
margin:20px 20px 20px 20px;
}

.contact{
text-align:center;
color:white;
font-size:18px;
font-family:Times New Roman;
padding-top:20px;
}

.bg{
    background-color: black;
}
